{
  "extends": "eslint:recommended",
  "rules": {
    "default-case": "warn",
    "max-len": ["warn", 140, 4],
    "no-case-declarations": "warn",
    "no-console": "warn",
    "no-debugger": "warn",
    "object-curly-spacing": ["warn", "always"],
    "padded-blocks": ["warn", "never"],
    "semi": ["warn", "never"]
  }
}